// container

blue = #94A0F8
green = #00B82E
gray = #A0A0A0
yellow = #C4C33E
red = #FF6C65

.terminal {
  position relative
  width 100%
  height 100%
  background black
  font-family monaco, sans-serif
  font-size 12px
}

// Terminal

.terminal .content {
  float left
  width calc(90% - 15px)
  padding-right 10%
  height calc(100% - 8px)
  padding-top 2px
  padding-left 5px
  overflow auto

  > div {
    position relative
  }

  .ps1 {
    display inline-block
    color white
    margin-right 5px

    .who {
      color blue
    }

    .where {
      color green
    }

    .branch {
      color gray
    }
  }

  .code {
    color white
    white-space pre-wrap

    &.stderr::before {
      content '✖'
      float left
      color red
      margin-right 7px
    }
  }

  .caret {
    display inline-block
    width 8px
    height 15px
    margin-bottom -4px
    background white
    color black
  }

  .valid {
    color green

    .caret {
      background green
      color black
    }
  }

  .invalid {
    color red

    .caret {
      background red
      color black
    }
  }

  .string {
    color yellow
  }
}

.fake-input {
  width 1px
  height 1px
  border 0
  background none
}

*:focus {
  outline: 0;
}
